<!DOCTYPE html>
<html lang="zxx">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Employee history order</title>

	<link href="static/employee/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="static/employee/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="static/employee/css/font-awesome.css" rel="stylesheet">
	<link href="static/employee/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<link rel="stylesheet" type="text/css" href="static/employee/css/jquery-ui1.css">
</head>

<body style="background-image:url(static/employee/back.jpg); background-repeat:repeat-y;background-size:100% auto">
	<img src="static/employee/logo.jpg" id="logo">
	<div class="header-bot">
		<div class="header-bot_inner_wthreeinfo_header_mid">
			<!-- header-bot-->
			<div class="col-md-4 logo_agile">
				<h1>
					<i>
						<span>得</span>一
						<span>D</span>eYi						
					</i>				
				</h1>
			</div>
			<div class="col-md-8 header">
				<div class="agileits_search">
					<form action="#" method="post">
						<input name="Search" type="search" placeholder="How can we help you today?" required="">
						<button type="submit" class="btn btn-default" aria-label="Left Align">
							<span class="fa fa-search" aria-hidden="true"> </span>
						</button>
					</form>
				</div>								
			</div>
		</div>
	</div>
	
	<div class="ads-grid">
		<div class="container">
			<h3 class="tittle-w3l">History Order
				<span class="heading-style">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</h3>
		</div>
	</div>
	
	<div class="row">
        <div class="col-md-9 col-md-offset-4">
			<table style="width:500px">
				<tr>
					<th>Employee_id</th><th>Name</th><th>Workload</th>
				</tr>
				{% for event in events %}
				<tr>
					<td>{{ event[1] }}</td>
                    <td>{{ event[0] }}</td>
					<td>{{ event[2] }}</td>
				</tr>
				{% endfor %}
            </table>
        </div>                           
    </div></br></br></br></br>

	<div class="row">
		<div class="col-md-5 col-md-offset-5">
			<div class="row">
				<table>
					<tr>	
					<td>
						<a href="manager" class="btn btn-success btn-lg">Back</a>
					</td>
					<td>
						<form method="post" action="/logout">
							<button type="submit" class="btn btn-success btn-lg">Log Out</button>
						</form>
					</td>
					</tr>
				</table>    
			</div>
		</div>
	</div>
	</br></br></br></br></br></br></br></br>
</body>
<style>
	td{padding:10px;border-top:1px solid black;width:30px}
	th{padding:10px;text-align:center}
	table{border:1px solid gray;background-color:white;text-align:center}
</style>
</html>
				