<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Customer</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="static/customer/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/customer/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="static/customer/css/font-awesome.css" rel="stylesheet">
    <link href="static/customer/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="static/customer/css/jquery-ui1.css">
</head>

<body>
    <img src="static/customer/logo.jpg" id="logo">
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <!-- header-bot-->
            <div class="col-md-4 logo_agile"></br>
                <h1 style="font-size:50px">
                    <i>
                        <span>得</span>一
                        <span>D</span>eYi
                    </i>
                </h1>
            </div>
            <div class="col-md-8 header"></br>
                <div class="agileits_search">
                <form action="search" method="POST">
                    <input name="keyword" type="search" placeholder="Search Goods Here!" required="">
                    <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <!-- 这里是search按钮！ -->
                            <span class="fa fa-search" aria-hidden="true"> </span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-6">
            <table>
                <tr>
                    <td>
                        <form method="post" action="">
                            <input type="button" onclick="window.location.href='customer1'" class="btn btn-success btn-lg" value="Back to the main page">
                        </form>
                    </td>
                    <td>
						<form method="post" action="/logout">
							<button type="submit" class="btn btn-default btn-lg">Log Out</button>
						</form>
					</td>
                </tr>
            </table>
        </div>
    </div></br>

    <!-- banner -->
    
        
        
            <!-- //product left -->
            <!-- product right -->
			<h2 style="color:orange;margin-left:20px">Your Shopping Cart:</h2><p>{{a}}</p></br></br>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					
						
							<table style="color:black" class="table table-striped">
								<thead>
									<tr>
										<th>Goods Name</th>
										<th>Goods Amount</th>
									</tr>
								</thead>
								<tbody>
									{{table|safe}}
								</tbody>
							</table> 
						
					
				</div>
				<div class="col-md-2">

                        <form method="post" action="/order">
                            <input type="submit" class="btn btn-warning btn-lg" value="Buy Now!">
                        </form>
				</div>
			</div>

            <script src="static/customer/js/jquery-2.1.4.min.js"></script>

            <script src="static/customer/js/jquery.magnific-popup.js"></script>
            <script>
                $(document).ready(function () {
                    $('.popup-with-zoom-anim').magnificPopup({
                        type: 'inline',
                        fixedContentPos: false,
                        fixedBgPos: true,
                        overflowY: 'auto',
                        closeBtnInside: true,
                        preloader: false,
                        midClick: true,
                        removalDelay: 300,
                        mainClass: 'my-mfp-zoom-in'
                    });

                });
            </script>
            <!-- Large modal -->
            <!-- <script>
		$('#').modal('show');
	</script> -->
            <!-- //popup modal (for signin & signup)-->

            <!-- cart-js -->
            <script src="static/customer/js/minicart.js"></script>
            <script>
                paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

                paypalm.minicartk.cart.on('checkout', function (evt) {
                    var items = this.items(),
                        len = items.length,
                        total = 0,
                        i;

                    // Count the number of each item in the cart
                    for (i = 0; i < len; i++) {
                        total += items[i].get('quantity');
                    }

                    if (total < 3) {
                        alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
                        evt.preventDefault();
                    }
                });
            </script>
            <!-- //cart-js -->

            <!-- price range (top products) -->
            <script src="static/customer/js/jquery-ui.js"></script>
            <script>
                //<![CDATA[ 
                $(window).load(function () {
                    $("#slider-range").slider({
                        range: true,
                        min: 0,
                        max: 9000,
                        values: [50, 6000],
                        slide: function (event, ui) {
                            $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                        }
                    });
                    $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

                }); //]]>
            </script>
            <!-- //price range (top products) -->

            <!-- flexisel (for special offers) -->
            <script src="static/customer/js/jquery.flexisel.js"></script>
            <script>
                $(window).load(function () {
                    $("#flexiselDemo1").flexisel({
                        visibleItems: 3,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint: 480,
                                visibleItems: 1
                            },
                            landscape: {
                                changePoint: 640,
                                visibleItems: 2
                            },
                            tablet: {
                                changePoint: 768,
                                visibleItems: 2
                            }
                        }
                    });

                });
            </script>
            <!-- //flexisel (for special offers) -->

            <!-- password-script -->
            <script>
                window.onload = function () {
                    document.getElementById("password1").onchange = validatePassword;
                    document.getElementById("password2").onchange = validatePassword;
                }

                function validatePassword() {
                    var pass2 = document.getElementById("password2").value;
                    var pass1 = document.getElementById("password1").value;
                    if (pass1 != pass2)
                        document.getElementById("password2").setCustomValidity("Passwords Don't Match");
                    else
                        document.getElementById("password2").setCustomValidity('');
                    //empty string means no validation error
                }
            </script>
            <!-- //password-script -->

            <!-- smoothscroll -->
            <script src="static/customer/js/SmoothScroll.min.js"></script>
            <!-- //smoothscroll -->

            <!-- start-smooth-scrolling -->
            <script src="static/customer/js/move-top.js"></script>
            <script src="static/customer/js/easing.js"></script>
            <script>
                jQuery(document).ready(function ($) {
                    $(".scroll").click(function (event) {
                        event.preventDefault();

                        $('html,body').animate({
                            scrollTop: $(this.hash).offset().top
                        }, 1000);
                    });
                });
            </script>
            <!-- //end-smooth-scrolling -->

            <!-- smooth-scrolling-of-move-up -->
            <script>
                $(document).ready(function () {
                    /*
                    var defaults = {
                        containerID: 'toTop', // fading element id
                        containerHoverID: 'toTopHover', // fading element hover id
                        scrollSpeed: 1200,
                        easingType: 'linear' 
                    };
                    */
                    $().UItoTop({
                        easingType: 'easeOutQuart'
                    });

                });
            </script>
            <!-- //smooth-scrolling-of-move-up -->

            <!-- for bootstrap working -->
            <script src="static/customer/js/bootstrap.js"></script>
            <!-- //for bootstrap working -->
            <!-- //js-files -->


</body>

</html>